<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[憨笑]</key>
	<string>[f056]</string>
	<key>[奸笑]</key>
	<string>[f057]</string>
	<key>[惊呆]</key>
	<string>[f058]</string>
	<key>[疑问]</key>
	<string>[f059]</string>
</dict>
</plist>
